<h1>Lista de participantes</h1>

<table>
  <tr>
    <th>ID Participante</th>
    <th>Sexo</th>
    <th>Fecha de nacimiento</th>
    <th>Fecha de creación</th>

    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.userid %></td>
      <td><%= user.sexo %></td>
      <td><%= user.fnac %></td>
      <td><%= user.created_at %></td>

      <td><%= link_to 'Ver', user_path(user) %></td>
      <td><%= link_to 'Eliminar participante', [user],
               method: :delete,
               data: { confirm: '¿Estás seguro? Esto es permanente' } %></td>


    </tr>
  <% end %>
</table>
