

<%= form_with scope: :user, url: users_path, local: true do |form| %>
  <p>
    <%= form.label :userid %><br>
    <%= form.text_field :userid %>
  </p>

  <p>
    <%= form.label :sexo %><br>
    <%= form.text_field :sexo %>
  </p>

  <p>
    <%= form.label :fnac %><br>
    <%= form.date_field :fnac %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
