
<p>
  <strong>User Id:</strong>
  <%= @user.userid %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @user.sexo %>
</p>

<p>
  <strong>Fecha Nacimiento:</strong>
  <%= @user.fnac %>
</p>

<h2>Items</h2>



<table>
  <tr>
    <th>Codigo Item (ItemId)</th>
    <th>Altenativa</th>
    <th>Tiempo de respuesta</th>
    <th>Secuencia de respuesa</th>
  </tr>

  <% @user.items.each do |item| %>
  <tr>
    <th><%= item.itemid %></th>
    <th><%= item.alt %></th>
    <th><%= item.tiempo %></th>
    <th><%= item.secuencia %></th>

  </tr>
  <% end %>

</table>


<%= link_to 'Volver', users_path %>
